/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
 background-color: #ccc;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.app {
  text-align: center;
  background: linear-gradient(45deg, #1f1f1f, #452804, #1f1f1f, #333333);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-width: 500px;
  box-shadow: 0 8px 9px rgba(0, 0, 0, 0.8); /* Sombra */
}

.logo {
  max-width: 300px;
  height: auto;
  margin-bottom: -30px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.favorites-container {
  margin-top: 40px;
}

.favorites-container h2 {
  margin-bottom: 20px;
}
